<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <%- include('../partials/_navbar') %>
  <h1><%= list.name %></h1>
  <p>Status: <%= list.status %></p>
  <h2>Books in this list:</h2>
  <ul>
    <% list.books.forEach(book => { %>
      <li><%= book.title %> by <%= book.author %></li>
    <% }) %>
  </ul>
  <a href="/lists/<%= list._id %>/edit">Edit</a>
  <form action="/lists/<%= list._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>
  <a href="/lists">Back to Lists</a>
  

</body>
</html>