<!DOCTYPE html>
<html>
<head>
  <title><%= book.title %></title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <%- include('../partials/_navbar') %>
  <h1><%= book.title %></h1>
  <p><strong>Author:</strong> <%= book.author %></p>
  <p><strong>Genre:</strong> <%= book.genre %></p>
  <p><strong>Description:</strong> <%= book.description %></p>
  <img src="<%= book.coverImage %>" alt="Cover Image" style="max-width: 200px;">
  <p><a href="/books/<%= book._id %>/edit">Edit</a></p>
  <form action="/books/<%= book._id %>/delete" method="POST">
    <button type="submit">Delete</button>
  </form>
  <a href="/books">Back to All Books</a>
</body>
</html>
